.aboutme__box:nth-child(1) {
  margin-bottom: 4em;
}

.aboutme__box-title {
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1em;
}

.aboutme__box-text {
  color: var(--light-gray);
  font-size: 1.3rem;
}

.aboutme__box-img {
	width: 100%;
}

.aboutme__box-social {
  display: flex;
  align-items: center;
  justify-content: center;
	margin-top: 2em;
}

.aboutme__box-link {
  align-items: center;
  display: flex;
  justify-content: center;
}

.aboutme__box-icon {
	width: 30%;
}

@media (min-width: 768px) {
  .aboutme__box-title {
    font-size: 2.5rem;
    margin-bottom: 1em;
  }

  .aboutme__box-text {
    font-size: 1.5rem;
    letter-spacing: 0.05em;
  }

  .aboutme__box-social {
    margin-top: 4em;
  }
}