.aboutme__box:nth-child(1) {
	margin-bottom: 4em;
}

.aboutme__box-title {
	color: var(--white-color);
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: 1em;
}

.aboutme__box-text {
	color: var(--light-gray);
	font-size: 1.3rem;
}

.aboutme__box-img {
	width: 100%;
}

.aboutme__box-social {
	display: flex;
	align-items: center;
	justify-content: space-evenly;	
	margin-top: 2em;
	height: 5em;
}

.aboutme__box-link {
	align-items: center;
	display: flex;
	justify-content: center;
	/* width: 4em; */
	/* height: 4em; */
}

.aboutme__box-icon {
	width: 4em;
	border-radius: 50%;
	transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
	border: 0.5em solid transparent;
}

.aboutme__box-icon:hover {
	background-color: var(--light-purple);
	border: 0.5em solid var(--light-purple);
}

.aboutme__box-icon-square {
	border-radius: 0.5em;
	width: 4.5em;
	padding: 0 0.5em;
	transition: background-color 0.3s ease-in-out;
}

.aboutme__box-icon-square:hover {
	border-radius: 0.5em;
	background-color: var(--light-purple);
}

@media (min-width: 768px) {
	.aboutme__box-title {
		font-size: 2.5rem;
		margin-bottom: 1em;
	}

	.aboutme__box-text {
		font-size: 1.5rem;
		letter-spacing: 0.05em;
	}

	.aboutme__box-social {
		margin-top: 6em;
	}

	.aboutme__box-icon {
		width: 5em;
		border-radius: 50%;
		transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
		border: 0.5em solid transparent;
	}

	.aboutme__box-icon-square {
		border-radius: 0.5em;
		width: 5em;
		padding: 0 0.5em;
		transition: background-color 0.3s ease-in-out;
	}
}

@media (min-width: 1024px) {
	.aboutme__boxes {
		display: flex;
		flex-direction: row;
	}

	.aboutme__box:nth-child(1) {
		margin-bottom: 0;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		max-width: 50%;
		margin-right: 3em;
	}

	.aboutme__box:nth-child(2) {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 3em;
	}

	.aboutme__box-img {
		max-width: 100%;
	}

	.aboutme__box-title {
		font-size: 3rem;
	}

	.aboutme__box-text {
		font-size: 1.6rem;
		line-height: 1.5em;
	}

	.aboutme__box-social {
		margin-top: 10em;
	}

	.aboutme__box-icon {
		width: 5em;
	}
}
