.contact__form {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.contact__email,
.contact__subject,
.contact__message {
	border: 0.1em solid var(--black-color);
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1em;
	padding: 0.5em;
	width: 100%;
}

.contact__email:focus,
.contact__subject:focus,
.contact__message:focus {
	outline: none;
	border: 0.1em solid var(--light-purple);
}

.contact__message {
	max-height: 15em;
	max-width: 100%;
	min-height: 10em;
	min-width: 100%;
}

.contact__submit {
	font-size: 1.2rem;
	padding: 0.75em 1.25em;
	width: 100%;
}

.warning {
	font-size: 1rem;
	margin-bottom: 1em;
}

@media (min-width: 768px) {
	.contact__email,
	.contact__subject,
	.contact__message {
		border: 2px solid var(--darker-purple);
		font-size: 1.6rem;
	}

	.contact__submit {
		font-size: 1.6rem;
	}
}

@media (min-width: 1024px) {
	.warning {
		display: none;
	}
}
