.footer {
  background-color: var(--darker-purple);
  padding-bottom: 1em;
  width: 100%;
}

.footer__social {
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer__img {
  margin: 1em 2em;
  width: 2em;
}

.footer__text {
  color: var(--white-color);
  text-align: center;
}