.header {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	min-height: 100vh;
	margin: 0 1em;
}

.header__box {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
}

.header__autotyping {
	color: var(--light-purple);
	font-size: 3rem;
	margin: 2em 0 0.75em;
	height: 3rem;
	position: relative;
}

.header__autotyping::after {
	background-color: var(--black-color);
	bottom: 0;
	content: '';
	position: absolute;
	top: 0;
	width: 3px;
}

.header__link {
	font-size: 1.2rem;
	margin-top: 2em;
	padding: 0.7em 1.3em;
	text-decoration: none;
}

.header__img {
	max-width: 100%;
	min-width: 50%;
}

.header__arrow {
	animation: arrow-slide 1s infinite linear;
	bottom: 0;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 5%;
}

.header__arrow.hide {
	display: none;
}

@media (min-width: 600px) {
	.header__title {
		font-size: 2.5rem;
	}
}

@media (min-width: 768px) {
	.header {
		margin: 0 2em;
	}

	.header__title {
		font-size: 3rem;
	}

	.header__autotyping {
		font-size: 4rem;
		height: 4rem;
	}

	.header__link {
		font-size: 2rem;
	}

	.header__arrow {
		width: 3.5%;
	}
}

@media (min-width: 1024px) {
	.header {
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		max-width: 1600px;
	}

	.header__img {
		width: 100%;
	}

	.header__box:nth-child(1) {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 55%;
	}

	.header__box:nth-child(2) {
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.header__title {
		font-size: 3.5rem;
		margin-bottom: 1em;
	}

	.header__autotyping {
		font-size: 5rem;
		height: 5rem;
		margin-bottom: 1em;
	}

	.header__link {
		font-size: 2rem;
	}

	.header__arrow {
		width: 1.3%;
	}
}

@media (min-width: 1200px) {
	.header__autotyping {
		font-size: 5rem;
		height: 5rem;
	}

	.header__title {
		font-size: 3.5rem;
	}
}

@media (min-width: 1920px) {
	.header__img {
		width: 100%;
	}

	.header__autotyping {
		font-size: 6rem;
		height: 6rem;
	}

	.header__title {
		font-size: 5rem;
	}
}

@keyframes arrow-slide {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-20%);
	}

	100% {
		transform: translateY(0);
	}
}
