@import './colors.css';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  margin: 0 1em;
}

.header__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__box:nth-child(1) {
  margin-bottom: 2em;
}

.header__autotyping {
  position: relative;
  font-size: 3rem;
  height: 3rem;
  color: var(--light-purple);
  margin-bottom: 0.75em;
}

.header__autotyping::after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: var(--black-color);
}

.header__link {
  display: inline;
  text-decoration: none;
  border: 0.1em solid transparent;
  color: var(--white-color);
  background-color: var(--light-purple);
  padding: 0.7em 1.3em;
  text-transform: uppercase;
  margin-top: 2em;
  cursor: pointer;
  transition: color .3s, background-color .3s;
}

.header__link:hover {
  border: 0.1em solid var(--light-purple);
  color: var(--light-purple);
  background-color: var(--white-color);
}

.header__img {
  min-width: 50%;
  max-width: 100%;
}

.header__arrow {
  position: absolute;
  bottom: 0;
  width: 5%;
  animation: slide 1s infinite linear;
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20%);
  }

  100% {
    transform: translateY(0);
  }
}