.nav__burger {
	cursor: pointer;
	padding: 1em;
	position: fixed;
	right: 1.5em;
	top: 1.5em;
	z-index: 2;
}

.nav__burger.open .nav__burger-bar {
	background: transparent;
}
.nav__burger.open .nav__burger-bar::after {
	transform: rotate(-45deg) translate(0px, 5px);
}
.nav__burger.open .nav__burger-bar::before {
	transform: rotate(45deg) translate(0px, -5px);
}

.nav__burger-bar {
	background-color: var(--black-color);
	height: 2px;
	position: relative;
	width: 2em;
	border-radius: 1em;
}

.nav__burger-bar::after,
.nav__burger-bar::before {
	background-color: var(--black-color);
	border-radius: 1em;
	content: '';
	height: 2px;
	position: absolute;
	transition: transform 0.3s ease-in-out;
	width: 2em;
}

.nav__burger-bar::after {
	top: 0.5em;
	transform-origin: top left;
}
.nav__burger-bar::before {
	top: -0.5em;
	transform-origin: bottom left;
}

.nav__links {
	align-items: center;
	background-color: var(--white-color);
	display: flex;
	inset: 0;
	justify-content: center;
	position: fixed;
	transform: translateX(-100%);
	transition: transform 0.3s ease-in;
	z-index: 1;
}

.nav__links.show {
	transform: translateX(0);
}

.nav__link {
	color: var(--black-color);
	font-size: 2rem;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0.1em 0;
}

.nav__links-container {
	display: flex;
	/* padding: 8em; */
	flex-direction: column;
}

.nav__links-container:hover .nav__link {
	color: var(--light-gray);
}

.nav__link {
	transform: translate(0);
	display: block;
	transition: transform .5s;
}

.nav__link:hover .nav__link {
	color: var(--black-color);
	transform: translateX(15%);
}


@media (min-width: 768px) {
	.nav__burger-bar {
		height: 0.3em;
		width: 3em;
	}

	.nav__burger-bar::after,
	.nav__burger-bar::before {
		height: 0.3em;
		width: 3em;
	}

	.nav__burger-bar::after {
		top: 0.8em;
		transform-origin: top left;
	}
	
	.nav__burger-bar::before {
		top: -0.8em;
		transform-origin: bottom left;
	}

	.nav__burger.open .nav__burger-bar::after {
		transform: rotate(-45deg) translate(0px, 7px);
	}

	.nav__burger.open .nav__burger-bar::before {
		transform: rotate(45deg) translate(0px, -7px);
	}

	.nav__link {
		font-size: 3rem;
	}
}


@media (min-width: 1024px) {
	.nav__links-container {
		padding: 8em;
	}
}