.nav__burger {
	cursor: pointer;
	padding: 1em;
	position: fixed;
	right: 1.5em;
	top: 1.5em;
	z-index: 2;
}

.nav__burger.open .nav__burger-bar {
	background: transparent;
}
.nav__burger.open .nav__burger-bar::after {
	transform: rotate(-45deg) translate(0px, 5px);
}
.nav__burger.open .nav__burger-bar::before {
	transform: rotate(45deg) translate(0px, -5px);
}

.nav__burger-bar {
	background-color: var(--black-color);
	height: 2px;
	position: relative;
	width: 2em;
}

.nav__burger-bar::after,
.nav__burger-bar::before {
	background-color: var(--black-color);
	border-radius: 1em;
	content: '';
	height: 2px;
	position: absolute;
	transition: transform .3s ease-in-out;
	width: 2em;
}

.nav__burger-bar::after {
	top: 0.5em;
	transform-origin: top left;
}
.nav__burger-bar::before {
	top: -0.5em;
	transform-origin: bottom left;
}

.nav__links-mobile {
	align-items: center;
	background-color: var(--white-color);
	display: flex;
	inset: 0;
	justify-content: center;
	position: fixed;
	transform: translateX(-100%);
	transition: transform 0.3s ease-in;
	z-index: 1;
}

.nav__links-mobile.show {
	transform: translateX(0);
}

.nav__links-mobile-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
}

.nav__link-mobile {
	color: var(--light-purple);
	font-size: 2rem;
	text-transform: uppercase;
	text-decoration: none;
}
