.stack__boxes {
  display: flex;
  overflow: hidden;
}

.stack__box {
  display: grid;
  grid-gap: 0.1em;
  grid-template-columns: repeat(7, 1fr);
  min-width: 100%;
  overflow: hidden;
  padding: 0 0.1em;
  place-items: center;
  width: 100%;
}

.stack__box--left {
  animation: box-slide-left 10s linear infinite;
}

.stack__box--right {
  animation: box-slide-right 10s linear infinite;
}

.stack__icon {
  width: 100%;
}

@keyframes box-slide-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes box-slide-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .stack__box {
    grid-gap: 0.5em;
    padding: 0 0.5em;
  }
}
