@import './colors.css';
@import './navigation.css';
@import './header.css';
@import './aboutme.css';
@import './stack.css';
@import './projects.css';
@import './contact.css';
@import './footer.css';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
}

body {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	justify-content: center;
	overflow-x: hidden;
}

.section {
	padding: 5em 1em;
  width: 100vw;
}

.section__title {
	color: var(--darker-purple);
	font-size: 3rem;
	font-weight: 200;
	margin-bottom: 1.5em;
	text-align: center;
	text-transform: uppercase;
}

.section__title.odd {
	color: var(--white-color);
}

.section:nth-child(odd) {
	background-color: var(--darker-purple);
}

@media (min-width: 768px) {
	.section__title {
		font-size: 4rem;
		letter-spacing: 0.05em;
		font-weight: 200;
		margin-bottom: 1.5em;
	}

	.section {
		padding: 10em 2em;
	}
}