.nav__burger {
	cursor: pointer;
	display: block;
	padding: 1.3em 1em;
	z-index: 2;
}

.nav__burger.open .nav__burger-bar {
	background: transparent;
}
.nav__burger.open .nav__burger-bar::after {
	transform: rotate(-45deg) translate(0px, 7px);
}
.nav__burger.open .nav__burger-bar::before {
	transform: rotate(45deg) translate(0px, -7px);
}

.nav__burger-bar {
	background-color: var(--black-color);
	border-radius: 1em;
	height: 3px;
	position: relative;
	width: 2.5em;
}

.nav__burger-bar::after,
.nav__burger-bar::before {
	background-color: var(--black-color);
	border-radius: 1em;
	content: '';
	height: 3px;
	position: absolute;
	transition: transform 0.3s ease-in-out;
	width: 2.5em;
}

.nav__burger-bar::after {
	top: 0.6em;
	transform-origin: top left;
}
.nav__burger-bar::before {
	top: -0.6em;
	transform-origin: bottom left;
}

@media (min-width: 768px) {
	.nav__burger-bar {
		height: 0.3em;
		width: 3em;
	}

	.nav__burger-bar::after,
	.nav__burger-bar::before {
		height: 0.3em;
		width: 3em;
	}

	.nav__burger-bar::after {
		top: 0.8em;
		transform-origin: top left;
	}

	.nav__burger-bar::before {
		top: -0.8em;
		transform-origin: bottom left;
	}

	.nav__burger.open .nav__burger-bar::after {
		transform: rotate(-45deg) translate(0px, 7px);
	}

	.nav__burger.open .nav__burger-bar::before {
		transform: rotate(45deg) translate(0px, -7px);
	}
}

@media (min-width: 1024px) {
	.nav__burger {
		display: none;
	}
}
