.nav__links {
	align-items: center;
	background-color: var(--white-color);
	display: flex;
	inset: 0;
	justify-content: center;
	position: fixed;
	width: 100vw;
	height: 100vh;
	transform: translateX(-100%);
	transition: transform 0.3s ease-in;
	z-index: 1;
}

.nav__links.show {
	transform: translateX(0);
}

.nav__link {
	color: var(--black-color);
	font-size: 2.5rem;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0.15em 0;
	padding: 0.1em;
}

.nav__links-container {
	display: flex;
	flex-direction: column;
}

.nav__links-container:hover .nav__link {
	color: var(--light-gray);
}

.nav__link {
	transform: translate(0);
	display: block;
	transition: transform 0.5s;
}

.nav__link:hover .nav__link {
	color: var(--black-color);
	transform: translateX(15%);
}

.nav__links-desktop {
	display: none;
}

@media (min-width: 768px) {
	.nav__link {
		font-size: 3rem;
	}
}

@media (min-width: 1024px) {
	.nav__links-container {
		padding: 8em;
	}

	.nav__links {
		display: none;
	}

	.nav__links-desktop {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.nav__link-desktop {
		position: relative;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 1.25em;
		color: var(--darker-purple);
		padding: 0.25em;
		margin: 0.5em 1em;
	}

	.nav__link-desktop::after,
	.nav__link-desktop::before {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		transition: width 0.3s linear, height 0.3s linear;
	}

	.nav__link-desktop::before {
		top: 0;
		left: 0;
		border-top: 0.1em solid var(--light-purple);
		border-left: 0.1em solid var(--light-purple);
	}
	.nav__link-desktop::after {
		bottom: 0;
		right: 0;
		border-bottom: 0.1em solid var(--light-purple);
		border-right: 0.1em solid var(--light-purple);
	}

	.nav__link-desktop:hover::after,
	.nav__link-desktop:hover::before {
		width: 100%;
		height: 100%;
		opacity: 1;
	}
}

@media (min-width: 1400px) {
	.nav__link-desktop {
		font-size: 1.5rem;
	}
}
