.projects__boxes {
	display: grid;
	grid-gap: 0.5em;
	grid-template-columns: repeat(1, 1fr);
}

.projects__box-container {
	display: flex;
	flex-direction: column;
}

.projects__box {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1200px;
	margin-top: 4em;
}

.projects__box--right {
	display: flex;
	flex-direction: column;
	margin-top: 2em;
}

.projects__box--left {
	object-fit: cover;
	object-position: center;
	height: 30vh;
	width: 100%;
	position: relative;
	border-radius: 0.5em;
	overflow: hidden;
}

@media (min-width: 768px) {
	.projects__box--right {
		width: 100%;
		margin-top: 0em;
		margin-left: 1em;
	}

	.projects__box-container {
		flex-direction: row;
	}
}
